<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hamidullo Mirzaikromov</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<style>
  h6{
    width: 100%;
  }
  img {
    height: 300px;
  }

  @media (min-width:768px) {
    .label {
      padding: 2% 10%;
      padding-top: 2%;
      width: 130%;
    }
    img {
      height: 350px;
    }
  }
  label{
    width: 120%;
    height: 25px;
  }
  label:hover{
    cursor: pointer;
  }
  .custom-control {
    padding: 0.7% 9%;
    
    border: 1.5px solid white;
    border-radius: 5px;
  }

  .custom-control:hover {
    border: 1.5px solid rgb(18, 34, 255);
    border-radius: 5px;
    color: rgb(18, 34, 255);
  }
</style>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/popover.js"></script>

<body>
  <div class="container">
    
    <div class="yakuniy">

    </div>
    <div class="row">
      <div class="col-md-7" style="margin: 1% auto">
        <div id="asosiy">

        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/main.js"></script>

</html>