<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamidullo Mirzaikromov</title>
    <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8080/css/main.css">
</head>

<script src="http://localhost:8080/js/bootstrap.js"></script>
<script src="http://localhost:8080/js/jquery.js"></script>
<script src="http://localhost:8080/js/popover.js"></script>

<body>
    <img src="F:\Document\w3school\images\lamp.jpg" alt="">
</body>
<script src="http://localhost:8080/js/main.js"></script>
<script>
    $("#beingImage").val(false);
    function being(){
        $('#beingImage').val(true);
    }

    /*function subm(){
       document.forms[0].submit();
       document.forms[1].submit();
    }
    */
    function subm1(){
       document.forms[0].submit();
       return true;
    }
</script>

</html>